@import "../../../../styles";

.submit {
  @include button($blue-500);
}

.input-group {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 1.25rem;

  input {
    display: block;
    padding: 0.625rem 0; // Tailwind's py-2.5 and px-0
    width: 100%;
    font-size: 0.875rem; // Tailwind's text-sm
    color: #1f2937; // Tailwind's text-gray-900
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #d1d5db; // Tailwind's border-b-2 border-gray-300
    appearance: none;
    outline: none;

    &:focus {
      border-color: #3b82f6;
    }

    //&.dark-mode {
    //  color: #f9fafb; // Tailwind's dark:text-white
    //  border-color: #4b5563; // Tailwind's dark:border-gray-600
    //}

  }

  label {
    position: absolute;
    font-size: 0.875rem; // Tailwind's text-sm
    color: #6b7280; // Tailwind's text-gray-500
    top: 0.75rem; // Tailwind's top-3
    transform-origin: 0 0;
    transition: all 0.3s ease;
  }
}
