<section>
  <div class="flex relative justify-between flex-wrap">
    <!--    drop down button    -->
    <div (click)="toggleDropdownProgress()"
         class="relative text-sm px-3 py-2 leading-none border rounded text-blue-500 hover:border-transparent hover:text-slate-100 hover:bg-blue-500 my-1 inline-flex"
         type="button">
      Select Stage
      <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
           viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4"/>
      </svg>
    </div>
    <!--    drop down button  end  -->
    <!--    drop down button    -->
    <div (click)="toggleDropdownProgress()"
         class="relative text-sm px-3 py-2 leading-none border rounded text-blue-500 hover:border-transparent hover:text-slate-100 hover:bg-blue-500 my-1 inline-flex"
         type="button">
      Select State
      <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
           viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4"/>
      </svg>
    </div>
    <!--    drop down button  end  -->
    <!-- update button-->
    <div
      type="button"
      class="relative text-sm px-3 py-2 leading-none border rounded text-green-500 hover:border-transparent hover:text-slate-100 hover:bg-green-500 my-1 inline-flex"
      (click)="onFind()"
      [ngStyle]="{ 'cursor': 'pointer' }">
      Find
    </div>
    <!-- end update button-->
  </div>
  <!-- ########################### -->
  <!-- Dropdown menu -->
  <div *ngIf="isProgressDropdownOpen"
       class="row-start-1 col-start-1 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
    <ul
      class="text-white absolute z-10 mt-2 w-24 rounded backdrop-blur-xl bg-green-500/50 text-center"
    >
      <li>
        <div
          (click)="setJobProgress(1)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">1
        </div>
      </li>
      <li>
        <div
          (click)="setJobProgress(2)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">2
        </div>
      </li>
      <li>
        <div
          (click)="setJobProgress(3)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">3
        </div>
      </li>
      <li>
        <div
          (click)="setJobProgress(4)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">4
        </div>
      </li>
      <li>
        <div
          (click)="setJobProgress(5)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">5
        </div>
      </li>
    </ul>
  </div>
  <!-- drop down menu end -->
</section>


<!-- table - all cars -->
<table class="relative w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th class="px-1 py-2" scope="col">
      <div
        class="px-2 py-1 text-sm leading-none  rounded text-green-500 hover:text-slate-100 hover:border-transparent hover:bg-green-600 inline-flex"
        (click)="refresh()"
        [ngStyle]="{ 'cursor': 'pointer', 'user-select': 'none' }"
      >#
      </div>
    </th>
    <th class="px-6 py-3" scope="col">N-Plate</th>
    <th class="px-6 py-3" scope="col">Status</th>
    <th class="px-6 py-3" scope="col">Progress</th>
    <!--    <th class="px-2 py-3" scope="col">Del</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of t_cars; let i = index"
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      (click)="selectReturnCar(car)"
      [ngStyle]="{ 'cursor': 'pointer', 'user-select': 'none' }">
    <td class="px-2 py-1">{{ i + 1 }}</td>
    <td class="px-2 py-1">{{ car.car_numberplate }}</td>
    <td class="px-2 py-1">{{ car.job_status }}</td>
    <td class="px-2 py-1">At Stage: {{ car.job_progress }}</td>
    <!--    <td-->
    <!--      class="px-2 py-1 text-sm leading-none rounded text-red-500 hover:text-slate-100 hover:border-transparent hover:bg-red-600 my-1 inline-flex"-->
    <!--      (click)="onDelete(car); $event.stopPropagation();"-->
    <!--      [ngStyle]="{ 'cursor': 'pointer' }">-->
    <!--      x-->
    <!--    </td>-->
  </tr>

  </tbody>
</table>
