<div class="flex justify-center items-center">
  <!-- title -->
  <small class="ms-2 my-2 text-4xl font-semibold text-gray-500 dark:text-gray-400 text-center">
    Find Cars
  </small>
</div>

<section>
  <div class="flex relative justify-evenly flex-wrap">
    <!--    drop down button    -->
    <div (click)="toggleDropdownProgress()"
         class="relative text-sm px-3 py-2 leading-none border rounded text-blue-500 hover:border-transparent hover:text-slate-100 hover:bg-blue-500 my-1 inline-flex"
         type="button">
      Stage {{ job_progress }}
      <svg aria-hidden="true" class="w-2.5 h-2.5 ms-3" fill="none" viewBox="0 0 10 6"
           xmlns="http://www.w3.org/2000/svg">
        <path d="m1 1 4 4 4-4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"/>
      </svg>
    </div>
    <!--    drop down button  end  -->
    <!--    drop down button    -->
    <div (click)="toggleDropdownStatus()"
         class="relative text-sm px-3 py-2 leading-none border rounded text-blue-500 hover:border-transparent hover:text-slate-100 hover:bg-blue-500 my-1 inline-flex"
         type="button">
      Status {{ job_status ? "Open" : "Close" }}
      <svg aria-hidden="true" class="w-2.5 h-2.5 ms-3" fill="none" viewBox="0 0 10 6"
           xmlns="http://www.w3.org/2000/svg">
        <path d="m1 1 4 4 4-4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"/>
      </svg>
    </div>
    <!--    drop down button  end  -->
    <!-- filter by id -->
    <div class="relative z-0 mb-1 group inline-flex">
      <input #numberPlate [(ngModel)]="car_numberplate"
             class="block pb-2.5 px-0 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             id="numberPlate"
             name="numberPlate"
             placeholder=""
             type="text"/>
      <label
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        for="numberPlate">
        Number Plate
      </label>
    </div>
    <!-- filter by id end -->
    <!-- update button-->
    <div
      (click)="onFind()"
      [ngStyle]="{ 'cursor': 'pointer' }"
      class="relative text-sm px-3 py-2 leading-none border rounded text-green-500 hover:border-transparent hover:text-slate-100 hover:bg-green-500 my-1 inline-flex"
      type="button">
      Find
    </div>
    <!-- end update button-->
  </div>
  <!-- ########################### -->
  <!-- Dropdown menu Progress -->
  <div *ngIf="isProgressDropdownOpen"
       class="relative z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
    <ul
      class="text-white absolute z-10 mt-2 w-24 rounded backdrop-blur-xl bg-green-500/50 text-center"
    >
      <li>
        <div
          (click)="setJobProgress(1)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">1
        </div>
      </li>
      <li>
        <div
          (click)="setJobProgress(2)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">2
        </div>
      </li>
      <li>
        <div
          (click)="setJobProgress(3)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">3
        </div>
      </li>
      <li>
        <div
          (click)="setJobProgress(4)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">4
        </div>
      </li>
      <li>
        <div
          (click)="setJobProgress(5)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">5
        </div>
      </li>
    </ul>
  </div>
  <!-- drop down menu end -->
  <!-- Dropdown menu Status -->
  <div *ngIf="isStatusDropdownOpen"
       class="absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
    <ul
      class="text-white absolute z-10 mt-2 w-24 rounded backdrop-blur-xl bg-green-500/50 text-center"
    >
      <li>
        <div
          (click)="setJobStatus(true)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">Open
        </div>
      </li>
      <li>
        <div
          (click)="setJobStatus(false)"
          class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl">Close
        </div>
      </li>
    </ul>
  </div>
  <!-- drop down status end -->
</section>


<!-- table - all cars -->
<table class="relative w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <th class="px-1 py-2" scope="col">
      <div
        (click)="refresh()"
        [ngStyle]="{ 'cursor': 'pointer', 'user-select': 'none' }"
        class="px-2 py-1 text-sm leading-none  rounded text-green-500 hover:text-slate-100 hover:border-transparent hover:bg-green-600 inline-flex"
      >#
      </div>
    </th>
    <th class="px-6 py-3" scope="col">N-Plate</th>
    <th class="px-6 py-3" scope="col">Status</th>
    <th class="px-6 py-3" scope="col">Progress</th>
    <!--    <th class="px-2 py-3" scope="col">Del</th>-->
  </tr>
  </thead>
  <tbody>
  <tr (click)="selectReturnCar(car)"
      *ngFor="let car of found_cars; let i = index"
      [ngStyle]="{ 'cursor': 'pointer', 'user-select': 'none' }"
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <td class="px-2 py-1">{{ i + 1 }}</td>
    <td class="px-2 py-1">{{ car.car_numberplate }}</td>
    <td class="px-2 py-1">{{ car.job_status }}</td>
    <td class="px-2 py-1">At Stage: {{ car.job_progress }}</td>
    <!--    <td-->
    <!--      class="px-2 py-1 text-sm leading-none rounded text-red-500 hover:text-slate-100 hover:border-transparent hover:bg-red-600 my-1 inline-flex"-->
    <!--      (click)="onDelete(car); $event.stopPropagation();"-->
    <!--      [ngStyle]="{ 'cursor': 'pointer' }">-->
    <!--      x-->
    <!--    </td>-->
  </tr>

  </tbody>
</table>
