<div class="backdrop-blur-sm bg-teal-900/90 dark:bg-teal-900/70">
  <div class="container mx-auto px-0 md:px-4">
    <nav class="grid items-center py-1 px-2">
      <!-- navigation menu panel -->
      <div class="flex justify-between ">
        <div
          id="menu-1"
          class="flex-auto flex-wrap px-4 md:flex justify-between items-center md:w-auto"
        >
          <div class="text-sm block md:flex ">
            <a
              routerLink=""
              class="block py-2 px-2 mr-2 md:inline-block md:mt-0 text-teal-200 hover:text-white hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl rounded"
              routerLinkActive="bg-white/30 dark:bg-black/30 backdrop-blur-xl"
              [routerLinkActiveOptions]="{ exact: true }"
            >Home
            </a>
            <a
              routerLink="dashboard"
              class="block py-2 px-2 mr-2 md:inline-block md:mt-0 text-teal-200 hover:text-white hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl rounded"
              routerLinkActive="bg-white/30 dark:bg-black/30 backdrop-blur-xl"
            >Dashboard
            </a>
          </div>
        </div>
        <!-- menu-1 end -->
        <!-- menu-2 -->
        <div
          id="menu-2"
          class="flex-auto flex-wrap px-4 md:flex md:items-center justify-end md:w-auto"
        >
          <a
            routerLink="about"
            class="block py-2 px-2 mr-2 md:inline-block md:mt-0 text-teal-200 text-right hover:text-white hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl rounded"
            routerLinkActive="bg-white/30 dark:bg-black/30 backdrop-blur-xl"
          >About
          </a>
        </div>
        <!--    menu-2 end    -->

        <!--    new dark drop down    -->
        <section>
          <div class="relative inline-block text-right">
            <div
              id="menu-button"
              type="button"
              class="text-sm px-3 py-2 leading-none border rounded text-white hover:border-transparent hover:text-teal-500 hover:bg-white my-1 inline-flex"
              aria-expanded="true"
              aria-haspopup="true"
              (click)="darkToggle()"
            >
              <label class="hidden sm:block"> Colour </label>
              <svg
                class="h-4 w-4 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div
              [ngClass]="{ 'block': darkMenuIsOpen, 'hidden': !darkMenuIsOpen }"
              class="text-white absolute right-0 z-10 mt-2 w-24 origin-top-right rounded backdrop-blur-xl bg-teal-900/90 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-center"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
              tabindex="-1"
            >
              <div role="none">
                <div
                  class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl"
                  (click)="DarkMode(false)"
                >Light
                </div
                >
                <div
                  class="block px-4 py-2 text-sm rounded hover:bg-white/30 dark:hover:bg-black/30 hover:backdrop-blur-xl"
                  (click)="DarkMode(true)"
                >Dark
                </div
                >
              </div>
            </div>
          </div>
        </section>

        <!-- end -->
      </div>
      <!--    nav bar end    -->
    </nav>
  </div>
</div>
