<!-- car details card -->
<!-- *ngIf="givenCar" -->
<section>
  <!-- Detail card head -->
  <section>
    <div class="flex justify-center items-center">
      <!-- title -->
      <small class="ms-2 py-3 text-4xl font-semibold text-gray-500 dark:text-gray-400 text-center">
        Car Information
      </small>
    </div>
    <div class="sm:hidden">
      <label class="sr-only" for="tabs">Select tab</label>
      <select (change)="selectTabMobile($event)"
              class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              id="tabs">
        <option value="stats">Details</option>
        <option value="Progress">Jobs</option>
        <option value="del">Delete</option>
      </select>
    </div>
    <!-- Tab Buttons for larger screens -->
    <ul
      class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200  sm:flex dark:divide-gray-600 dark:text-gray-400 rtl:divide-x-reverse"
      role="tablist">
      <li class="w-full">
        <button (click)="selectTab('stats')" [ngClass]="{ 'bg-gray-100': selectedTab === 'stats' }"
                class="inline-block w-full p-4  hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600">
          Details
        </button>
      </li>
      <li class="w-full">
        <button (click)="selectTab('Progress')" [ngClass]="{ 'bg-gray-100': selectedTab === 'Progress' }"
                class="inline-block w-full p-4 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600">
          Progress
        </button>
      </li>
      <li class="w-full">
        <button (click)="selectTab('del')" [ngClass]="{ 'bg-gray-100': selectedTab === 'faq' }"
                class="inline-block w-full p-4  hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600">
          Delete
        </button>
      </li>
    </ul>
  </section>

  <!-- Tab Content -->
  <section>
    <div class="border-t border-gray-200 dark:border-gray-600 dark:text-slate-100">
      <!--  Details  -->
      <section>
        <div *ngIf="selectedTab === 'stats'" class="p-4 bg-white  dark:bg-gray-800">
          <div *ngIf="!givenCar">
            Select A Car
          </div>
          <h1>id: {{ givenCar._id }}</h1>
          <h3>Owner: {{ givenCar.owner }}</h3>
          <h3>Model: {{ givenCar.car_model }}</h3>
          <h3>N-Plate: {{ givenCar.car_numberplate }}</h3>
          <h3>Job Status: {{ givenCar.job_status }}</h3>
          <h3>Job Progress: {{ givenCar.job_progress }}</h3>
        </div>
      </section>
      <!--  progress  -->
      <section>
        <div *ngIf="selectedTab === 'Progress'" class="p-4 bg-white  dark:bg-gray-800">
          <div *ngIf="givenCar">
            <div class="grid grid-cols-2">
              <div class="col-start-1">
                <h5> Car Status </h5>
                <!--    drop down button    -->
                <button (click)="toggleDropdownStatus()"
                        class="text-sm px-3 py-2 leading-none border rounded text-yellow-500 hover:border-transparent hover:text-slate-100 hover:bg-yellow-500 my-1 inline-flex"
                        type="button">
                  Status : {{ givenCar.job_status }}
                  <svg aria-hidden="true" class="w-2.5 h-2.5 ms-3" fill="none" viewBox="0 0 10 6"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="m1 1 4 4 4-4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"/>
                  </svg>
                </button>
                <!--    drop down button  end  -->
                <!-- Dropdown menu -->
                <div *ngIf="isStatusDropdownOpen"
                     class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                    <li>
                      <div
                        (click)="setJobStatus(true)"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Open
                      </div>
                    </li>
                    <li>
                      <div
                        (click)="setJobStatus(false)"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Close
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- drop down end -->
              </div>
              <div class="col-start-2">
                <h5> Car Progress </h5>
                <!--    drop down button    -->
                <button (click)="toggleDropdownProgress()"
                        class="text-sm px-3 py-2 leading-none border rounded text-yellow-500 hover:border-transparent hover:text-slate-100 hover:bg-yellow-500 my-1 inline-flex"
                        type="button">
                  Progress : Stage - {{ givenCar.job_progress }}
                  <svg aria-hidden="true" class="w-2.5 h-2.5 ms-3" fill="none" viewBox="0 0 10 6"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="m1 1 4 4 4-4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"/>
                  </svg>
                </button>
                <!--    drop down button  end  -->
                <!-- Dropdown menu -->
                <div *ngIf="isProgressDropdownOpen"
                     class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                    <li>
                      <div
                        (click)="setJobProgress(1)"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">1
                      </div>
                    </li>
                    <li>
                      <div
                        (click)="setJobProgress(2)"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">2
                      </div>
                    </li>
                    <li>
                      <div
                        (click)="setJobProgress(3)"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">3
                      </div>
                    </li>
                    <li>
                      <div
                        (click)="setJobProgress(4)"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">4
                      </div>
                    </li>
                    <li>
                      <div
                        (click)="setJobProgress(5)"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">5
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- drop down end -->
              </div>
            </div>
            <!-- update button-->
            <div
              (click)="onUpdate()"
              [ngStyle]="{ 'cursor': 'pointer' }"
              class="text-sm px-3 py-2 leading-none border rounded text-yellow-500 hover:border-transparent hover:text-slate-100 hover:bg-yellow-500 my-1 inline-flex"
              type="button">
              Update
            </div>
            <!-- end update button-->
          </div>
          <!--  end if car is given -->
          <div *ngIf="!givenCar">
            Select A Car
          </div>
        </div>
      </section>
      <!--    Delete the selected car-->
      <section>
        <div *ngIf="selectedTab === 'del'" class="p-4 bg-white  dark:bg-gray-800">
          <div *ngIf="givenCar" class="text-red-500">
            Delete the selected car
            <h1>id: {{ givenCar._id }}</h1>
            <h3>Owner: {{ givenCar.owner }}</h3>
            <h3>Model: {{ givenCar.car_model }}</h3>
            <h3>N-Plate: {{ givenCar.car_numberplate }}</h3>
            <h3>Job Status: {{ givenCar.job_status }}</h3>
            <h3>Job Progress: {{ givenCar.job_progress }}</h3>
            <div
              (click)="onDelete()"
              [ngStyle]="{ 'cursor': 'pointer' }"
              class="text-sm px-3 py-2 leading-none border rounded text-red-600 hover:border-transparent hover:text-slate-100 hover:bg-red-600 my-1 inline-flex"
              type="button">
              Delete
            </div>
          </div>
          <div *ngIf="!givenCar">
            Select A Car
          </div>
        </div>
      </section>
    </div>
  </section>
  <div class="border-t border-gray-200 dark:border-gray-600 dark:text-slate-100">
    <div class="p-4 bg-white  dark:bg-gray-800">
      <table class="table">
        <tbody>
        <tr>
          <td class=""> Total number of Cars :</td>
          <td>{{ getTotalCars() }}</td>
        </tr>
        <tr>
          <td> marked Status Open :</td>
          <td>{{ getTotalCars(true) }}</td>
        </tr>
        <tr>
          <td> marked Status Close :</td>
          <td>{{ getTotalCars(false) }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
