<div class="container">

  <div class="grid grid-cols-2 gap-4">
    <!-- insert a car -->
    <section>
      <form (ngSubmit)="onSubmit()" class="max-w-md mx-auto py-4">
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            <input #carInput [(ngModel)]="car_brand"
                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                   id="car_brand"
                   name="car_brand"
                   placeholder=" "
                   required
                   type="text"/>
            <label
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              for="car_brand">
              Car Brand
            </label>
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input [(ngModel)]="car_model"
                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                   id="car_model"
                   name="car_model"
                   placeholder=" "
                   required
                   type="text"/>
            <label
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              for="car_model">
              Car Model
            </label>
          </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input [(ngModel)]="car_numberplate"
                 class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                 id="car_numberplate"
                 name="car_numberplate"
                 placeholder=" "
                 required
                 type="text"/>
          <label
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            for="car_numberplate">
            Number Plate
          </label>
        </div>

        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="submit"
        >
          Submit
        </button>
      </form>
    </section>
    <!-- All cars -->
    <section>
      <div class="flex justify-center items-center">
        <!-- title -->
        <small class="ms-2 text-4xl font-semibold text-gray-500 dark:text-gray-400 text-center">
          Cars Added
        </small>
      </div>
      <!-- table - all cars -->
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="px-6 py-3" scope="col">#</th>
          <th class="px-6 py-3" scope="col">Brand</th>
          <th class="px-6 py-3" scope="col">Model</th>
          <th class="px-6 py-3" scope="col">N-Plate</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars; let i = index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4">{{ i + 1 }}</td>
          <td class="px-6 py-4">{{ car.brand }}</td>
          <td class="px-6 py-4">{{ car.model }}</td>
          <td class="px-6 py-4">{{ car.numberplate }}</td>
        </tr>
        </tbody>
      </table>
    </section>
    <!--  card for the newly added car  -->
    <section>
      <app-car-details *ngFor="let car of cars; let i = index"
                       [car]="car"
                       [index]="i"
                       (d_index)="deleteCar($event)"
      >
      </app-car-details>
    </section>
  </div>

</div>
